html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(255, 255, 255);
  background-image: url(img/FONDO_LOGIN_REGISTRO.jpg)
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  margin: auto;
  border: 0px solid;
  border-radius: 10px;
  background-color: rgb(217, 217, 217);

}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.flecha{
  margin-bottom: 600px;
  margin-left: 30px;
}